#feed{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px 0;
  }
@media (max-width:768px){
  #feed{
    /*padding:40px 10px*/
  }
}
  
.feed__container{
    width:80%;
    max-width:700px;
    display:flex;
    flex-wrap: wrap;
    position: relative;
  }
  