.user{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px 0;
  }

/*
@media (max-width:768px){
  #user{
    padding:40px 10px
  }
}
*/

.user__container{
    width:100%;
    max-width:var(--header-width);
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.user__header{
    display:flex;
    width:100%;
    padding-bottom: 30px;
    border-bottom:1px solid lightgray;
    
}
.user__photo{
    width:40%; 
    display:flex;
    align-items: center; 
    justify-content:center;
}
.user__photo__image{
 
    border:1px solid lightgray;
    border-radius:50%;
}


.user__infos{
    width:60%;
    
}
.user__name{
    font-weight: 300;
    font-size:27px
}

.user__numbers{
    padding:25px 0;
}
.user__number{
    font-size:15px;
    margin-right:20px;
}
.user__title{
    font-size:16px;
    font-weight: 500;
}
.user__description{
    font-weight: 300;
    white-space: pre-wrap;
}

.user__posts{
    width:100%;
    display:grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin-top:30px
}