#header{
    position:sticky;
    /*width:100vw;*/
    top:0;
    left:0;
    z-index: var(--z-index--header);
    display: flex;
    justify-content: center;
    align-items:center;
    background:white;
    border-bottom:1px solid lightgray;
    padding:0 10px
  }
  
  .header__container{
    width: var(--header-width);
    display: flex;
    padding:15px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }
  
  .header__wrapper__user_infos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:50px;
  }

  .instagram-logo{
      margin-bottom:-10px
  }

  .header__wrapper__user-image{
    display:flex;
    align-items: center;
  }
  .header__user-image{
    height:22px;
    width:22px;
    border-radius:50%;
    border:1px solid lightgray;
  }